*
*/
!README.md
!.gitignore
!make-image.sh
!config-lite
!config-gui
!stage-muondetector-lite
!stage-muondetector-lite/*
!stage-muondetector-lite/*/*
!stage-muondetector-gui
!stage-muondetector-gui/*
!stage-muondetector-gui/*/*
