*
*/
!README.md
!.gitignore
!make-image.sh
!make-image-docker.sh
!config-lite
!config-gui
!stage-muondetector-lite
!stage-muondetector-lite/*
!stage-muondetector-lite/*/*
!stage-muondetector-lite/*/*/*
!stage-muondetector-lite/*/*/*/*
!stage-muondetector-gui
!stage-muondetector-gui/*
!stage-muondetector-gui/*/*
